<footer class="container-fluid footer mt-auto py-3 pt-5">
    <div class="container">
        <div class="row mb-md-3">
            <div class="col-12 col-md-6 mb-3 text-center">
                <a href="{{ .Site.Params.logoURL }}" title="{{ .Site.Params.logoTitle }}">
                    <img class="d-inline" src="{{ .Site.Params.logoSRC }}" />
                </a>
            </div>
            <div class="col-12 col-md-6 mb-5 mb-md-3 d-flex align-items-center justify-content-center">
                <nav class="row row-cols-auto">
                    {{ range .Site.Menus.main }}
                    <a class="col" href="{{ .URL }}">
                    {{ $text := print .Name | safeHTML }}
                    {{ $text }}
                    </a>
                    {{ end }}
                </nav>
            </div>
        </div>
        <div class="row row-cols-auto justify-content-center">
            {{ range .Site.Params.contactsfooter }}
                <a class="col" href="{{ .url }}" title="{{ .name }}" target="_blank">
                    <i class="bi {{ .icon }}"></i>
                </a>
            {{ end }}
        </div>
        <div class="row row-cols-auto mt-3 justify-content-center">
            <hr class="d-block" />
        </div>
        <div class="row">
            <p class="col text-center">
                &copy; {{ with .Site.Copyright | default .Site.Title }} {{ . | safeHTML }} {{ now.Format "2006"}} {{ end }}
            </p>
        </div>
    </div>
</footer>
